{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{ background }}')">{{ title }}</section>

<h2>{{title}} disponiveis para adoção</h2>
{{/banner}}

<hr><br><br>

<ul>
        {{#products}}
             {{>partials/itensLoop}}
        {{/products}}
</ul>

{{>partials/footer}}



    

